#editor-container {
    height: 100%;
}

.header-element {
    font-family: ubuntu, menlo, monaco, monospace;
    padding-top: 7px;
}

.title-text {
    font-size: 30px;
}

.by-text {
    font-size: 20px;
}

.main {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    height: 100%;
}

html, body {
    margin-top: 0;
    height: 100%;
}

#tab-div {
    height: 30%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.maintext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#editor {
    position: relative;
    float: left;
    height: calc(100% - 108px);
    width: 60%;
    margin-right: 10px;
    margin-top: 0px;
    font: 12px 'dejavu sans mono', menlo, monaco, monospace;
    border-radius: 10px 6px 6px 10px;
}

.right-panel {
    float: left;
    width: 35%;
}

#output-panel {
    height: 30%;
}

#gif-panel {
    height: 270px;
}

#console-output {
    font-family: monospace;
    background-color: #202020;
    color: white;
    height: calc(100% - 40px);
    border-radius: 0px 0px 4px 4px;
}
